
<% description "Helping startups and established businesses build custom Ruby on Rails or mobile applications to move theri businesses forward" %>
<% keywords 'Tiny Code Factory, Web development, Javascript, Ruby on Rails, Ruby, Rails, Developer, Freelance, Freelancer, Contractor, Manchester, UK' %>
<% set_meta_tags :og => {
  :title    => 'Ruby on Rails Web Development | Manchester UK',
  :type     => 'website',
  :url      => root_url,
  :site_name    => 'Tiny Code Factory',
  :description    => "Helping startups and established businesses build custom Ruby on Rails or mobile applications to move theri businesses forward"
},
:twitter => {
  :card => "summary",
  :site => "@benaldred"
},
:canonical => request.original_url %>

<% content_for :intro do %>
  <h2>Helping startups and established businesses build custom Ruby on Rails and mobile applications.</h2>
  <hgroup>

    <h3>Looking for a dependable, experienced developer with a track record of turning ideas into businesses and improving existing ones?</h3>
    <p class="call"><%=link_to "Get in touch", page_path("contact") %></p>
  </hgroup>
  <div id="featured-project">
    <h3>Featured work</h3>
    <%= link_to image_tag("projects/qavs/showcase.png"), project_path("qavs") %>
  </div>
<% end %>



<div class="ribbon">
	<div class="container">
	  <h3>Clients:</h3>
    <ul class="logos">
      <li><%= image_tag "logos/bbc.png"%></li>
      <li><%= image_tag "logos/directgov.png"%></li>
    </ul>
	</div>
</div>

<div class="container clearfix">
  <p class="big-text">Want to know more? Learn more about <%=link_to "how I can help you", page_path("expertise") %>, <%=link_to "my experience", page_path("work") %> or more <%=link_to "about me and how I work", page_path("about") %>.</p>
</div>
