<% content_for :intro do %>
  <hgroup>
    <h1>We build simple, easy to use, beautiful web-based applications, turn ideas into online businesses and help companies to innovate.</h1>
		<h2>Manchester based Web Development Company.</h2> 
  </hgroup>
<% end %>



<div class="principle">
	<div class="container">
	  <p>We build apps in Ruby and Javascript</p>
	</div>
</div>

<div id="projects" class="container clearfix">
  <h2>Projects</h2>
  <p class="subline">Our latest project work</p>
  <section id="showcase">
    <ul>
		  <% PROJECTS.each_with_index do |project, index| %>
      <li class="major <%= cycle("first", "second") -%>">
          <%= link_to image_tag("projects/#{project}/showcase.png"), project_path(project) %>
        
          <div class="title">
            <h2><%= link_to t(:title, :scope => [:projects, project]), project_path(project) %></h2>
            <p><%= t(:desc, :scope => [:projects, project]) %></p>
          </div>

        </li>
      <% end %>
      
    </ul>
  </section>
</div><!-- /#projects -->

<div class="principle" id="about">
	<div class="container">
	  <p>Development with quality baked in. All our apps are highly tested to ensure maximum quality.</p>
	</div>
</div>
 
<div class="container clearfix">
  <h2>About</h2>
  <p class="subline">What we do, how we work, who we are.</p>
  
  <section class="first col">
    <h3>What we do</h3>
    <p>We build quality web applications using Ruby on Rails. Our specific coding standard ensures our apps meet a certain level of quality. If needed, we can also bring your existing app up to our standards.<p>
		<p>Without innovation nothing moves forward. Helping companies push boundaries is our passion. Whether it’s creating prototype apps, working with technology startups to turn ideas into a business or creating Minimum Viable Products, we love being disruptive!</p>
	  <p>Having a passion for the web and keeping constantly up-to-date with technology ensures we know what's what. This allows us to use the right tool for the right job and means we are not afraid to try something completely new.</p>
    <!--<p>We have a more detailed list of the services we provide.</p>-->
  </section>
        
  <section class="col">
    <h3>How we work</h3>

    <p>We use short development cycles and close collaboration to build the app/product that you need. Short iterations let you see progress, give feedback and allow you to change your requirements and fix problems quickly.</p>

    <p>Put simply, we treat our clients how we would like to be treated. We believe that clear and honest communication builds trust and a lasting relationship. The growth of the business relies on word of mouth, so happy clients and customers are essential to us.</p>
    <p>We don’t play buzz word bingo. We really do practice agile and lean development, we are software craftsmen and we don't work, we rework.</p>
    <!--<p>If you would like to, you can read more about the set of principles we have built the company culture around.</p>-->
  </section>
  
  <section id="who" class="col">
    <h3>Who we are</h3>
    <p>Despite working with some big clients (as well as small startups), we stay tiny for a reason. Staying small and lean allows us to react quickly in an ever changing environment.</p>
    <h3>The team</h3>
    <p><%= image_tag "ben.jpg" %>Ben is a jack of all trades. Having worked at the BBC for years and at a small startup, he has experience at every level. A multi disciplined maestro, working on the front-end, back-end, product development and design.</p>
    <p><%= image_tag "gill.jpg" %>Gill handles admin tasks for Tiny Code Factory and is also Ben's wife. She likes to organise, is very camera shy and loves broccoli.</p>
    <p>We have a team of friends that we can trust to call upon at any time.</p>
  </section>				
</div>
  
<div class="principle">
	<div class="container">
	  <p>Clear and honest communication to build lasting relationships.</p>
	</div>
</div>
 
<div id="contact" class="container clearfix">
  <h2>Contact Us</h2>
	<p class="subline">Go on! We're friendly, honest.</p>

  <div class="vcard">
	  <section class="col first">
      <p>We are based in Manchester and have lots of experience working remotely, so location is not a problem. If necessary, we can also work on-site.</p>
			<p>Interested in working with us? We would love to discuss any projects you have in mind.</p>
			<p>Send us an email with as many details as you can.</p>
		</section>
		
	  <section class="col">
			<h3>Send us an email</h3>
			<p><a href="mailto:hello@tinycodefactory.com">hello@tinycodefactory.com</a></p>
			<h3>Follow Us</h3>
			<p>Twitter: <a href="http://twitter.com/tinycodefactory">@tinycodefactory</a></p>
		</section>
		
	  <section class="col">
			<h3>Where</h3>
		  <p class="adr">
			  Apartment 17<br>
			  <span class="street-address">6 Albany Road</span><br>
			  <span class="region">Manchester</span><br>
			  <span class="postal-code">M21 0AW</span><br>
		  </p>
		</section>
		
  </div>
</div>
  
</div>     