<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= favicon_link_tag 'factory/16_black.png', :rel => "icon", :type => "image/png" %>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "modernizr" %>
  <!--[if lt IE 9]>
  	<%= javascript_include_tag "respond" %>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <%= display_meta_tags :site => 'Tiny Code Factory' %>

  <%= render :partial => '/layouts/google_analytics' %>
</head>
<body class="<%= body_class %>" data-spy="scroll" id="top">
<!--<div id="ribbon">
  <p>Responsively designed<br><span>Resize the browser and see!</span></p>
</div>-->
  <div id="navbar" class="navbar navbar-fixed-top">
    <div class="container">
      <h1><a href="/">Tiny Code Factory <span>Ruby on Rails consultant, Manchester, UK</span></a></h1>
        <ul class="nav">
          <!--<li class="home"><%= link_to "Home", root_path %></li>-->
		      <li class="expertise"><%=link_to "Expertise", page_path("expertise") %></li>
		      <li class="about"><%=link_to "About", page_path("about") %></li>
          <li class="work"><%=link_to "Work", page_path("work") %></li>
          <li class="contact"><%=link_to "Contact", page_path("contact") %></li>
        </ul>
    </div>
  </div>
  <div class="container">
    <header id="app">
	  <!--<a id="badge" href="#contact_us">
		<div class="text">
		  <p>Available from<br><strong>Jan 2013</strong></p>
		</div>
	  </a>-->
    </header>

    <section class="intro clearfix">
      <%= yield :intro %>
    </section>
  </div><!-- .container -->

  <div class="p-content clearfix">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <div class="container">
    <footer class="app clearfix">
      <p itemscope itemtype="http://schema.org/Organization">
        <%= image_tag '/assets/factory/64_black.png', alt: "Tiny Code Factory logo", size: "32x32" %>
        <span class="copywrite">© Copyright <span id="cw-date">2011 - <%= Date.today.year %></span>
        <span itemprop="name">Tiny Code Factory</span>
        | <a href="http://tinycodefactory.com" itemprop="url">tinycodefactory.com</a>
        | Company number: 7811925</p>

      <div itemprop="location">
        <span itemscope itemtype="http://schema.org/Place">
          <div itemprop="geo">
            <span itemscope itemtype="http://schema.org/GeoCoordinates">
              <span property="latitude" content="53.47070769"></span>
              <span property="longitude" content="-2.2357559"></span>
            </span>
          </div>
        </span>
      </div>
    </footer>
  </div><!-- #container -->


  <!-- load JS for faster loading-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>


  <%= javascript_include_tag "bootstrap-scrollspy", "application" %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
