<% title "Case Study: #{@project_title}" %>
<% description "Helping startups and established businesses build custom Ruby on Rails or mobile applications to move theri businesses forward" %>
<% keywords 'Tiny Code Factory, Web development, Javascript, Ruby on Rails, Ruby, Rails, Developer, Freelance, Freelancer, Contractor, Manchester, UK' %>
<% set_meta_tags :og => {
  :title    => 'Ruby on Rails Web Development | Manchester UK',
  :type     => 'website',
  :url      => root_url,
  :site_name    => 'Tiny Code Factory',
  :description    => "Helping startups and established businesses build custom Ruby on Rails or mobile applications to move theri businesses forward"
},
:twitter => {
  :card => "summary",
  :site => "@benaldred"
},
:canonical => request.original_url %>

<% content_for :intro do %>
  <h1><%= @project_title || "Random Project" %></h1>
  <% if @client %><h2><%= @client %></h2><% end %>
<% end %>

<% content_for :content do %>

  <div id="project" class="container clearfix">
    <div id="images">
		<% index = PROJECTS.index(@project) %>
		<nav>
			<ul>
				<% unless index == 0 %><li id="prev"><%= link_to raw("&laquo; previous project"), project_path(PROJECTS[index-1]) %></li><% end %>
				<% unless index == PROJECTS.size - 1 %><li id="next"><%= link_to raw("next project &raquo;"), project_path(PROJECTS[index+1]) %></li><% end %>
			</ul>
		</nav>

      <%= content_for?(:project_image) ? yield(:project_image) : nil %>
      <%= content_for?(:project_sub_images) ? yield(:project_sub_images) : nil %>
      <%= content_for?(:project_secondary_image) ? yield(:project_secondary_image) : nil %>
    </div>
    <section id="project_content">
          <% if content_for?(:project_testimonial) %>
    <blockquote id="testimonial">
      <%= yield :project_testimonial %>
    </blockquote>
    <% end %>
      <%= content_for?(:project_content) ? yield(:project_content) : yield %>
    </section>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
